.navbar {
    overflow: hidden;
    background: #ede7f6;
    position: fixed;
    top:0;
    height: 5%;
    width: 100%;
}

.navbar a {
    float: right;
    display: flex;
    color: black;
    text-align: center;
    align-items: center;
    padding: 14px 16px;
    text-decoration: none;
}

.first-box{
    overflow: hidden;
    background:#c2185b;
    height: 100%;
    width: 40%;
    position: fixed;
}
.second-box{
    overflow: hidden;
    background: whitesmoke;
    height: 100%;
    width: 60%;
    margin-left: 40%;
    position: fixed;

}

