.shop-container{
    /*position: relative;*/
    /*top: 6em;*/
    padding-top: 5em;
    display: flex;
    flex-direction: column;
}

.shop-except-header{
    padding-top: 2.5em;
}

.dropdown-sort{
    margin-left: 3.7em;
}

.filter{
    position: fixed;
}

.buttonMore{
    margin-top: 2em;
    display: flex;
    justify-content: center;
}

.container{
    display: flex;
    flex-direction: row;
    background-color: #f5f5f5;
}

.display{
    display: flex;
    /*position: fixed;*/
}