.navbar {
    overflow: hidden;
    background: #ede7f6;
    position: fixed;
    top:0;
    height: 5%;
    width: 100%;
}

.navbar a {
    float: right;
    display: flex;
    color: black;
    text-align: center;
    align-items: center;
    padding: 14px 16px;
    text-decoration: none;
}
.background-box{
    overflow: hidden;
    background: white;
    position: fixed;
    height: 100%;
    width: 100%;
}

.first-box{
    overflow: hidden;
    background:#c2185b;
    height: 100%;
    width: 40%;
    position: fixed;
}
.hexagon{
    width: 30%;
    height: 15%;
    display: flex;
    background: whitesmoke;
    margin-top: 20%;
    margin-left: 50%;
    transform: translate(-50%,-50%);
}
.hexagon:before,
.hexagon:after{

}

