.customerReviewList{
    border-style: ridge;
    width: 57%;
    border-color:#D8D8D8;
    margin-left: 5%;
    background: #F6F6F6;
    border-radius: 6px;
}

.customerReviewPost{
    border-style: ridge;
    width: 30%;
    border-color: #D8D8D8;
    margin-left: 3%;
    height: 26%;
    border-radius: 6px;
}

.positionForChar{
    margin-top:0;
    margin-bottom: 0;
    margin-right: 0;
}

.description{
    margin-top:0;
    margin-bottom: 0;
    margin-right: 0;
    color: black;
    font-size: 1.5em;

}


.editButton{
    border-radius: 4px;
    background: #434a52;
    color: white;
    font-size: 1.2vw;
    border-block: 0.6em;

    padding-bottom: 14%;
}

.container {
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0.7em;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container-for-title{
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
}
.positionForCharComment {
    padding-right: 0.6em;
    font-size: 1vw;
    margin-top:0;
    margin-bottom: 0;
    margin-right: 0;
}