ul {
    display: block;
    margin-top: 1em;
    margin-bottom: 2em;
    /*padding-left: 40px;*/
    list-style-type: none ;
}

.page-navigate{
    padding-top: 10px;
    display: flex;
    justify-content: center;
}

.display-column{
    margin-top: 4.5rem;
    display: flex;
    flex-direction: column;
}

.select-box {
    border: 1.5px solid black;
    padding: 10px;
    border-radius: 10px;
    color: black;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    width: 130%;
    height: 10%;
}

li{
    padding-right: 3px;
}

.paddingcheck{
    padding-top: 0.5rem;
}

.paddingItem{
    margin-top: 1rem;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    color: black;
    font-size: 20px;
}



.dropdown-author-toggle{
    display: flex;
    background-color: white;
    width: 75%;
    top: 23px;
    border: 0.5px solid black;
    border-radius: 0.5em;
    font-size: 0.75em;
    padding: 0.5em;
    flex-direction: column;
    align-items: center;
}

.dropdown-author-container{
    display: none;
    border: 0.75px solid white;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    opacity: 1;
}



.dropdown-author-toggle:hover .dropdown-author-container{
    display: block;
    width: 107%;
    height: 100%;
    border: none;
    background-color: white;
    position: relative;
    top: 3px;
    z-index: 100;
}

.category-title{
    font-size: 20px;
    font-weight: bold;
    position: relative;
    font-family: Helvetica, Serif;
    top: 10px;
    left: 10px;
}

.category-container{
    border: 1px solid black;
    border-radius: 6px;
    width: 300px;
    height: 120px;
    display: flex;
    margin-left: 25px;
}

.dropdown-category-toggle{
    display: flex;
    width: 13em;
    height: 35px;
    margin-top: 45px;
    border: 0.5px solid black;
    border-radius: 0.5em;
    font-size: 1em;
    flex-direction: column;
    position: relative;
    right: 35px;
    top: 15px;
}

.dropdown-category-header{
    display: flex;
    width: 13em;
    flex-direction: row;
    height: inherit;
    margin-left: 0.5em;
    margin-top : 0.5em;
}

.dropdown-category-title{
    font-family: Arial, serif;
}

.dropdown-category-icon{
    margin-left: 30px;
    padding-right: 10px;
}

.dropdown-category-toggle:hover .dropdown-category-container{
    display: block;
    width: 100%;
    height: 300px;
    background-color: white;
    position: relative;
    top: -8px;
    border: 1px solid black;
}

.dropdown-category-container{
    height: 100%;
    text-align: left ;
    display: none;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    opacity: 1;
}

