ul {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    /*padding-left: 40px;*/
    list-style-type: none ;
}

.paddingcheck{
    padding-top: 1rem;
}