ul {
    display: block;
    margin-top: 1em;
    margin-bottom: 2em;
    /*padding-left: 40px;*/
    list-style-type: none ;
}

.page-navigate{
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

li{
    padding-right: 3px;
}

.paddingcheck{
    padding-top: 0.5rem;
}

.paddingItem{
    padding-top: 1rem;
}